.swiper-pagination {
  text-align: left !important;
  padding-left: 30px !important;
}
span.swiper-pagination-bullet {
  background: wheat !important;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white !important;
}
